##NoTemp
/.vscode
*.session.sql
*.d
##Temp
*.json 
##Rust
# .toml files are configuration files for Cargo
*.toml
Cargo.lock
# Output files
/target/
**/target/
**/Cargo.lock
**/.rustc_info.json
# Executables
**/Cargo.toml
**/Cargo.lock
# Rust tools
**/.cargo/
**/rustfmt.toml
**/rust-toolchain
# IDE and editor files
/.idea/
.vscode/
*.iml
# System files
*.DS_Store
Thumbs.db
##Python
**/__pycache__/
#Go
*.exe
##Marklangs
*.rar
##TeX
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.synctex.gz
#Get out every pdf in the folder Pure Math
**/Pure Math/**/*.pdf