/* Estilos para todo tipo de pantallas con una anchura máxima de 576px
@media all and (max-width: 576px){

}
*/

/* Estilos para pantallas con al menos 992px de anchura y que estén apaisadas (más ancho que alto)*/
@media screen and (min-width: 992px) and (orientation: landscape) 
{
    .container {
        display: grid;
        grid-template-columns:repeat(5, 20%);
        grid-template-rows: repeat(4, 100px);
        margin: 15px auto;
        width: 80%;
        grid-template-areas: "cab  cab  cab  cab  cab"
                             "side main main main sider"
                             "side main main main sider"
                             "feet feet feet feet feet"; 
        }
        .container > div {
        border: 2px solid black;
        }
        .feet
        {
            background-color:rgb(13, 204, 45);
            color:rgb(13, 204, 45);
            grid-area: feet;   
        }
        .main
        {
            background-color:yellow;
            color: yellow;
            grid-area: main;
        }
        .cab
        {
            background-color:rgb(16, 34, 197);
            color: rgb(16, 34, 197);
            grid-area: cab;
        }
        .side
        {
            background-color: red;
            color: red;
            grid-area: side;
        }
        .sider
        {
            background-color: red;
            color: red;
            grid-area: sider;
        }
}
/* Estilos sólo para pantallas que tengan al menos 768px de anchura*/
@media only screen and (min-width: 768px) 
{
    
}