.container {
    display: grid;
    grid-template-columns:repeat(1, 100%);
    grid-template-rows: 150px 150px 150px 20px 20px;
    margin: 15px auto;
    width: 80%;
    grid-template-areas: "red"
                         "green"
                         "yellow"
                         "blue"
                         "orange"; 
    }
    .container > div {
    border: 2px solid black;
    }
    .red
    {
        background-color:red;
        color:red;
        grid-area: "red";   
    }
    .yellow
    {
        background-color:yellow;
        color: yellow;
        grid-area: "yellow";
    }
    .blue
    {
        background-color:rgb(16, 34, 197);
        color: rgb(16, 34, 197);
        grid-area: "blue";
    }
    .orange
    {
        background-color: orange;
        color: orange;
        grid-area: "orange";
    }
    .green
    {
        background-color: green;
        color: green;
        grid-area: "green";
    }


/* Estilos sólo para pantallas que tengan al menos 768px de anchura*/
@media only screen and (min-width: 768px) 
{
    .container {
        display: grid;
        grid-template-columns:repeat(5, 20%);
        grid-template-rows: repeat(4, 100px);
        margin: 15px auto;
        width: 80%;
        grid-template-areas: "cab  cab  cab  cab  cab"
                             "side main main main sider"
                             "side main main main sider"
                             "feet feet feet feet feet"; 
        }
        .container > div {
        border: 2px solid black;
        }
        .feet
        {
            background-color:rgb(13, 204, 45);
            color:rgb(13, 204, 45);
            grid-area: feet;   
        }
        .main
        {
            background-color:red;
            color: red;
            grid-area: main;
        }
        .cab
        {
            background-color:rgb(1, 0, 7);
            color: rgb(1, 0, 7);
            grid-area: cab;
        }
        .side
        {
            background-color: rgb(21, 196, 36);
            color: rgb(21, 196, 36);
            grid-area: side;
        }
        .sider
        {
            background-color:rgb(21, 196, 36);
            color: rgb(21, 196, 36);
            grid-area: sider;
        }
}